.searchBar {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
}

.searchBar input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  text-indent: 5rem;
  font-size: 1.25rem;
}

.light {
  color: black;
}

.dark {
  color: white;
}

.searchBar svg {
  position: absolute;
  left: 3rem;
  font-size: 1.5rem;
}

@media (max-width: 1124px) {
  .searchBar {
    width: 300px;
  }

  .searchBar svg {
    position: absolute;
    left: 2rem;
  }

  .searchBar input {
    text-indent: 4rem;
  }
}

@media (max-width: 540px) {
  .searchBar {
    width: 225px;
  }
}
