.list {
  position: absolute;
  padding: 0;
  width: 200px;
  list-style: none;

  padding: 1rem 1rem 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-top: 0.4rem;
}

.dark {
  background-color: #2b3844;
}

.light {
  background-color: #ffffff;
}

.list li {
  cursor: pointer;
}

.list li:hover {
  transform: scale(1.1);
}

@media (max-width: 1124px) {
  .list {
    width: 150px;
  }
}

@media (max-width: 540px) {
  .list {
    width: 80px;
  }

  .list {
    padding-left: 0.5rem;
    box-sizing: content-box;
  }
}
