.filterBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 125px;
  height: 100%;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.filterBar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dark {
  background-color: #2b3844;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: black;
}

.filterBar button svg {
  font-size: 1.5rem;
}
